# Local additions
*~
.DS_Store
.vscode
*.swp
*.pem

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
build/
dist/

# Local FUSE Mount Point directories
AgentMountPoint
CommonMountPoint

# Default etcd database
default.etcd/

# Replay Logs
CommonVolume.rlog

# specific binaries
jrpcfs/test/client
go-acc

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.uds
*.pyc
*.png

# Vagrant private directory
.vagrant/
.bundle/

# test coverage artifacts (see https://blog.golang.org/cover#TOC_5.)
coverage.out
count.out
coverage.coverprofile

# log files
*.log

# tags
tags

# setuptools leaves egg stuff around
pfs_middleware/*.egg-info
meta_middleware/*.egg-info

# tox's virtualenvs
.tox

# coverage report temporary files
pfs_middleware/.coverage

# runway by-products
ci/ansible/chef_files/local-mode-cache/
nodes/

# IDE-related stuff
.idea

# pfs-jrpc cache

pfs-jrpc.env
