[Unit]
Description=PFSAgent service
After=proxyfsd.service

[Service]
Environment=PATH=/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin:/bin
Environment=GOTRACEBACK=crash
LimitCORE=infinity
ExecStart=/vagrant/bin/pfsagentd /vagrant/src/github.com/swiftstack/ProxyFS/pfsagentd/pfsagent.conf
ExecReload=/usr/bin/kill -HUP $MAINPID

Restart=always
# Send stopping SIGTERM (and later SIGKILL if necessary) to the main process
# only.  This prevents systemd from interfering with backends processing
# requests after the parent process has been sent a SIGHUP by the ExecReload.
KillMode=process


[Install]
WantedBy=multi-user.target
