[Unit]
Description=Swift Proxyfs service

[Service]
ExecStart=/vagrant/bin/proxyfsd /vagrant/src/github.com/swiftstack/ProxyFS/saio/proxyfs.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
ExecReload=/usr/bin/kill -TERM $MAINPID
Restart=no
KillMode=process
