[Unit]
Description=Swift ProxyFS service

[Service]
Environment=GOTRACEBACK=crash
LimitCORE=infinity
ExecStart=/vagrant/bin/proxyfsd /vagrant/src/github.com/NVIDIA/proxyfs/sait/sait2/proxyfs.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=no
KillMode=process
