#============================ Share Definitions ==============================

{{range .VolumeMap}}

[{{ .SMB.ShareName }}]
	comment = ProxyFS volume {{ .SMB.ShareName }}
	path = {{ .SMB.Path }}
	proxyfs:volume = {{ .VolumeName }}

	valid users =  {{ range $i, $e := .SMB.ValidUsers}}{{if $i}}, {{end}}"{{$e}}"{{- end}}

	writable = yes
	printable = no
	browseable = {{ if .SMB.Browseable }}yes{{- else }}no{{- end }}
	oplocks = False
	level2 oplocks = False
	aio read size = 1
	aio write size = 1
	case sensitive = yes
	preserve case = yes
	short preserve case = yes
	strict sync = {{ if .SMB.StrictSync }}yes{{- else }}no{{- end }}
{{ if .SMB.AuditLogging }}
	full_audit:success = mkdir rmdir read pread write pwrite rename unlink
	full_audit:prefix = %u|%I|%m|%S
	full_audit:failure = mkdir rmdir read pread write pwrite rename unlink
	full_audit:syslog = false
	vfs objects = full_audit proxyfs
{{- else }}
	vfs objects = proxyfs
{{- end }}
{{ if .SMB.EncryptionRequired }}
	smb encrypt = required
{{ end }}

{{end}} {{/* End of range loop */}}

