{{/* Declare our global variables.  Need Go 1.11+ */}}
{{$AdIDCommentStr := ""}}
{{$ADDisabledCommentStr := ""}}
{{$EnabledIfNoAD := ";"}} {{/* If no AD, print this line */}}
{{ if not .SMB.ADEnabled }}
	{{$EnabledIfNoAD = ""}}
	{{$ADDisabledCommentStr = ";"}}
{{ end }}

{{ if not .SMB.ADIDMgmt}}
	{{$AdIDCommentStr = ";"}}
{{ end }}

[global]

# ----------------------- Network-Related Options -------------------------
{{ if .SMB.WorkGroup }}
	workgroup = {{ .WorkGroup }}
{{ end }}
	interfaces = {{ .VirtualIPAddr }}
	pid directory = /opt/ss/var/run/samba/{{ .VolumeGroupName }}
	lock directory = /opt/ss/var/cache/samba/{{ .VolumeGroupName }}
	private dir = /opt/ss/var/cache/samba/{{ .VolumeGroupName }}

	server string = Samba Server Version %v
	map to guest = {{ .SMB.MapToGuest }}

	netbios name = {{ .VirtualHostName }}
	server min protocol = {{ .SMB.ServerMinProtocol }}

# --------------------------- Temporary Options -------------------------
# Until we resolve permissions
{{ $EnabledIfNoAD }}force user = root


# --------------------------- Logging Options -----------------------------

	# log files split per-machine:
	log file = /opt/ss/var/log/samba/log.%m
	# maximum size of 50KB per log file, then rotate:
	max log size = 50
{{ if .SMB.AuditLogging }}
	log level = full_audit:1
{{ end }}

# ----------------------- Standalone Server Options ------------------------
	security = {{ .SMB.Security }}
	{{ $EnabledIfNoAD }}passdb backend = tdbsam:/opt/ss/lib64/samba/passdb.tdb
	restrict anonymous = 2
	public = no
	guest account = nobody
	rpc_server:lsarpc = {{ .SMB.RPCServerLSARPC }}


# ----------------------- Domain Members Options ------------------------
{{ $ADDisabledCommentStr }}realm = {{ .SMB.ADRealm }}
{{ $AdIDCommentStr }}winbind nss info = {{ .SMB.ADIDSchema }}
winbind use default domain = yes
winbind refresh tickets = yes
winbind enum users = yes
winbind enum groups = yes
winbind expand groups = 5
winbind nested groups = yes

{{ $ADDisabledCommentStr }}idmap config *:backend = tdb
{{ $ADDisabledCommentStr }}idmap config *:range = {{ .SMB.ADIDMapDefaultMin }} - {{ .SMB.ADIDMapDefaultMax }}

{{ $ADDisabledCommentStr }}idmap config {{ .SMB.WorkGroup }}:backend = {{ .SMB.ADBackEnd }}
{{ $ADDisabledCommentStr }}idmap config {{ .SMB.WorkGroup }}:default = yes
{{ $ADDisabledCommentStr }}idmap config {{ .SMB.WorkGroup }}:range = {{ .SMB.ADIDMapWorkgroupMin }} - {{ .SMB.ADIDMapWorkgroupMax }}

{{ $ADDisabledCommentStr }}template shell = /sbin/nologin
{{ $ADDisabledCommentStr }}domain master = no
{{ $ADDisabledCommentStr }}preferred master = no

{{ $ADDisabledCommentStr }}kerberos method = secrets and keytab


#----------------------------- Name Resolution -------------------------------

{{ $ADDisabledCommentStr }}wins server =
{{ $ADDisabledCommentStr }}remote announce = {{ .SMB.BrowserAnnounce }}/{{ .SMB.WorkGroup }}

# --------------------------- ProxyFS Options ---------------------------

	proxyfs:PrivateIPAddr = {{ .Peer.PrivateIPAddr }}
	proxyfs:TCPPort = {{ .Peer.TCPPort }}
	proxyfs:FastTCPPort = {{ .Peer.FastTCPPort }}
