[Unit]
Description=PFSAgent service
After=proxyfsd.service

[Service]
Environment=PATH=/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin:/bin
# Set GOTRACEBACK=1 to prevent core dumps to be created
# Set GOTRACEBACK=crash to allow core dumps to be created
Environment=GOTRACEBACK=1
LimitCORE=0
ExecStart=/usr/bin/pfsagentd /etc/pfsagentd/pfsagent.conf
ExecReload=/usr/bin/kill -HUP $MAINPID

Restart=always
# Send stopping SIGTERM (and later SIGKILL if necessary) to the main process
# only.  This prevents systemd from interfering with backends processing
# requests after the parent process has been sent a SIGHUP by the ExecReload.
KillMode=process


[Install]
WantedBy=multi-user.target
